body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;
  font-size: 16px;
  background-color: #282c34;
}

.calculator-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.card {
  margin: 1rem;
  height: 200px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  background-color: dodgerblue;

  &--result {
    flex-direction: column;
    background-color: hotpink;
  }
}

.radiogroup {
  display: flex;
  flex-direction: column;
  border: none;
}
