
.input-container {
  width: 100%;
  margin: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.input-number {
  width: 100%;
  height: 1.5rem;
  transition: 0.3s all;
  border-radius: 0.5rem;
  background-color: white;
  font-size: 1rem;
  border: none;
}

.input-number:focus {
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.05);
}

.input-label {
  margin-right: 0.5rem;
  white-space: nowrap;
}